{% extends "layout.html" %}
{% block title %}Global statistic{% endblock %}
{% block content %}
      <h2>Global statistic</h2>
	  <div class="container" align="left">
	  		<embed type="image/svg+xml" src={{pie_data|safe}} style='max-width:1200px'/>
      </div>
{% endblock %}