{% extends "layout.html" %}
{% block title %}The Wardriver Project.{% endblock %}
{% block content %}
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>The Wardriver Project</h1>
	    <p>Visualize Kismet logs</p>
            <p>Upload a .netxml file to get started</p>
            <br>
              {% with messages = get_flashed_messages(with_categories=true) %}
              <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                  <!-- https://gist.github.com/vicow/fc16173c356b79f951d2 -->
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                  <!-- <strong>Title</strong> -->
                      {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <br>
              <center>
              <form action="upload" method="post" enctype="multipart/form-data">
                <input type="file" multiple="" name="file[]" class="span3" /><br />
                <input type="submit" value="Upload"  class="span2">
              </form>
              </center>
          </div>
        </div>
{% endblock %}
