<!doctype html>
<html>
  <head>
    {% block head %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <!-- CSS STUFF -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">

    <!-- Javascript STUFF -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <title>{% block title %}{% endblock %} - The Wardriver Project</title>
    {% endblock %}
  </head>
  <body>
    <div class="cover">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="/">Upload</a>
              </li>
              <li>
                <a href="/global">Global</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cover-image"></div>
      <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
    <!-- insert footer content if I ever get around to it -->
      {% endblock %}
    </div>
  </body>
</html>
