{% extends "layout.html" %}
{% block title %}Log Viewer{% endblock %}
{% block head %}
	<!-- CSS STUFF -->

    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/dataTables.responsive.css')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/dataTables.colReorder.css')}}" rel="stylesheet" media="screen">

    <!-- Javascript STUFF -->

    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.responsive.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.colReorder.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.colVis.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#main').DataTable({
                    responsive: true
                });
			} );
    </script>
{% endblock %}
{% block content %}
      <h2>Scan Overview</h2>
{{ table }}
{% endblock %}
